.delete-btn {
  float: right;
}

.delete-btn .bi-trash {
  pointer-events: none;
}

.err-msg {
  color: red;
}

.hidden {
  visibility: hidden;
}

.custom-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.text-done {
  text-decoration: line-through;
}