.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form input {
  width: 45%;
  margin: 5px auto 40px auto;
}

.form label {
  margin: 0 auto;
}

.submit-btn {
  margin: 20px auto;
  display: block;
  background-color: aqua;
  width: 120px;
  height: 40px;
  border-radius: 12px;
  border: none;
  font-size: 18px;
  color: #2b8ee2;
}

.submit-btn {
  background-color: aquamarine;
}

.error-msg {
  color: red;
  text-align: center;
}